

body{
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


div {display: inline-block;
}

#imgphone{ position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;

}
    
#tel{
    height: 510px;
    width: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  
}

#icons{display: flex;
flex-direction: column;
gap: 10px;
align-items: flex-end;}

.icon{width: 60px;
    height: 60px;
    border-radius: 50%;
}

.icon:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.521);
    border-style: solid;
    border-color: rgb(155, 139, 120);
    transition-duration: .5s;
}