@charset "UTF-8";

:root{
    --cor1:#908873;
    --cor2:#D0BB8E;
    --cor3:#897D57;
    --cor4:#3C3731; 
    --cor5:#FEDF82;
}

*{padding:0;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
box-sizing: border-box;
}


@media screen and (min-width: 769px) and (max-width:1024px) {

section{
    height: 60vh;
    width: 80vw;
    transition: width .2s;
}

#divlinks{margin-top: 7px;}

legend{
    font-size: 2.5em;
}

#divimg{
    float:left;
    width: 40%;
}
#divformulario{
    float:right;
    width: 60%;
}

#imgprog{height: 270px;}

}

@media screen and (min-width:1025px) and (max-width:1200px){


section{
    height: 60vh;
    width: 80vw;
    transition: width .2s;

}

#divformulario{
    float:left;
    width: 50%;
    height: 100%;
   
}

legend{font-size: 3em;}

#divlinks{margin-top: 10px;}

fieldset{

    margin:auto;
}

#divimg{
    float: right;
    height: 100%;
    width: 50%;

}

#imgprog{height: 400px;}


#divlinks > a{
   font-size:small;
}

.campos{
    width: 250px;
    height: 50px;
}

#btnlogin{
    font-size: 1.3em;
    width: 300px;
}

}

@media screen and (min-width:1201px){

    section{
        height: 70vh;
        width: 80vw;
        transition: width .2s;
    
    }
    
    #divformulario{
        float:left;
        width: 50%;
        height: 100%;
       
    }
    
    legend{font-size: 3.2em;}
    
    #divlinks{margin-top: 12px;}
    
    fieldset{
    
        margin:auto;
    }
    
    #divimg{
        float: right;
        height: 100%;
        width: 50%;
    
    }
    
    #imgprog{height: 440px;}
    
    
    #divlinks > a{
       font-size:medium;
    }
    
    .campos{
        width: 280px;
        height: 65px;
    }
    
    #btnlogin{
        font-size: 1.4em;
        width: 320px;
    }



}

