@charset "UTF-8";

/* EM PÉ PORTRAIT */ 

body{
    background-image: url(../imagens/cev-portrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center bottom;
}